{% extends 'tarefas/base.html' %}

{% block title %}Tarefas{% endblock %}

{% block content %}

<h1>
    Tarefas
</h1>

<p>
    <a href="{% url 'nova_tarefa' %}">Nova Tarefa</a>
</p>

<ul>
    {% for tarefa in tarefas %}
    <li>
        <strong>
            {{tarefa.titulo}}
        </strong>
        -
        <p>
            {{ tarefa.descricao}}
        </p>
        {% if tarefa.finalizado %}
        Status: Finalizado
        {% else %}
        Status: Pendente
        {% endif %}
        | <a href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>

        <form method="POST" action="{% url 'deletar_tarefa' tarefa.id %}" style="display: inline;">
            {% csrf_token %}
            <button type="button" onclick="abrirModal(this.closest('form'))" style="color: red;">Excluir</button>
        </form>
    </li>
    {% empty %}
    <li> Nenhuma tarefa encontrada </li>
    {% endfor %}
</ul>

{% endblock %}