<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>

<body>
    <h1>
        Tarefas
    </h1>

    <p>
        <a href="{% url 'nova_tarefa' %}">Nova Tarefa</a>
    </p>

    <ul>
        {% for tarefa in tarefas %}
        <li>
            <strong>
                {{tarefa.titulo}}
            </strong>
            -
            <p>
                {{ tarefa.descricao}}
            </p>
            {% if tarefa.finalizado %}
            Status: Finalizado
            {% else %}
            Status: Pendente
            {% endif %}
        </li>
        {% empty %}
        <li> Nenhuma tarefa encontrada </li>
        {% endfor %}
    </ul>
</body>

</html>